* {
  font-family: Georgia;
  margin: 0;
  padding:0;
}
body,html{
  height: 500px;
  width: 600px;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  cursor: pointer;
}

.maze_border{
  height: 500px;
  width: 600px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px 0px 0px 100px;
  background-color: 	#BF1E3E;
}

#moves{
  position: absolute;
  top: 15px;
  left: 0;
  width: 300px;
  height: 30px;
  text-align: center;
  font-size: 20px;
}


#up,#down,#left,#right{
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  outline: 0;
  background-color: #F36422;
}



#up{
  top: 90px;
  left: 30px;
}

#down{
  top: 160px;
  left: 30px;
}

#left{
  top: 125px;
  left: 5px;
}

#right{
  top: 125px;
  left: 55px;
}
